<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.rampoo.musicstream">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".baseactivity.LibraryFragment"></activity>
        <activity android:name=".baseactivity.SearchFragment" />
        <activity android:name=".baseactivity.HomeFragment" />
        <activity
            android:name=".baseactivity.SplashscreenActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".baseactivity.DashboardActivity" />
        <activity
            android:name=".baseactivity.MusicPlayerActivity"
            android:theme="@style/FullScreen" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>